<footer class="footer">

        <p class="copy">

                <img src="assets/logos/facebook.png">
                <img src="assets/logos/twitter.png">
                <img src="assets/logos/youtube.png">

            Copyright : Hélène, Armelle, Aurélien et Morgan / Janvier 2019
        </p>

</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./assets/js/script.js"></script>