<footer>

    <div>
        <div class="logos">
            <img src="./logos/facebook.png">
            <img src="./logos/twitter.png">
            <img src="./logos/youtube.png">
        </div>

        <p class="copy">Copyright : Hélène, Armelle, Aurélien et Morgan / Janvier 2019</p>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./assets/js/script.js"></script>