{% extends 'Layout/layout.html.twig' %}

{% block title %}
{{ parent() }} - Page Introuvable</title>
{% endblock %}

{% block content %}
<div class="100vh">
<h1 class="erreur">404 - Page Introuvable</h1>
<p class="text404">Tu t'es perdu petit monky, retourne dans la jungle...! </p>
<div class="image404"><img src="./assets/image/goz2.jpg"></div>
</div>
{% endblock %}