
{# page code html #}
{% extends 'Layout/layout.html.twig' %} 

{% block title %}
    {{ parent() }} - Home {# permet de changer nom de page #}
{% endblock %}

{% block content %} {#membres du groupe#}



    <div class="flex">
        <div class="team" >

        <div class="">
            <a href="steeve" class="photo1 hoverphoto" ><img src="assets/image/steve.jpg"/></a>
        </div>

        <div>
            <a href="cc" class="hoverphoto"><img src="assets/image/cc.jpg"/></a>
        </div>
            
        <div>
            <a href="sam" class="hoverphoto"><img src="assets/image/sam.jpg"/></a>
        </div>
            
        <div>
            <a href="ion" class="hoverphoto"><img src="assets/image/ion.jpg"/></a>
        </div>

        <div>
            <a href="frah" class="hoverphoto"><img src="assets/image/frah.jpg"/></a> 
        </div>

        <div>
            <a href="mandris" class="hoverphoto"><img src="assets/image/mandris.jpg"/></a>
        </div>    

        <div>
            <a href="goz" class="hoverphoto"><img src="assets/image/goz.jpg"/></a>
        </div>

        </div>

        <div class="accueilvideo" >
            <div>
                <img class="mw100" src="assets/image/ban.jpg"/>
            </div>

            

            <div class="d-flex mb2 ">
                
                <iframe width="600" height="330" src="https://www.youtube.com/embed/QFRuw3CrBbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="fs2 text-align ml">
                    <p class="fs3">Concerts de 2018</p>

                    Le groupe à l'énergie fracassante remonte sur scène en 2018
                    avec The MonkAdelic Tour et prépare un live spectaculaire !
                    Shaka Ponk sur scène, ce sont des geeks survitaminés qui
                    imaginent le concert du futur : un punk numérique où la
                    technologie vient sublimer la frénésie rock du groupe.
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <article class="text-align width50 fs2 ml40">
                        <br><p>En une dizaine d'années, Shaka Ponk s'est indiscutablement
                        imposé comme l'un des groupes de rock les plus importants
                        de l'hexagone. Trustant la tête d'affiche des plus gros festivals,
                        enchainant des Bercy sold-out, multipliant les récompenses et
                        les disques d'or, le groupe parisien est devenu incontournable !
                        Pourtant, jusqu' à maintenant ce combo ne m'a jamais intéressé.

                        Les quelques chansons entendues au hasard de la bande FM,
                        et de mes pérégrinations sur les sites de streaming m'ont
                        toujours laissé de marbre. C'est finalement l'engouement 
                        autour de leur réputation de bêtes de scène et l'opportunité
                        de pouvoir m'en rendre compte dans une salle à taille humaine
                        comme la Cigale, qui m'ont poussé à prendre des billets pour
                        ce concert du Monkadelic Tour.
                    </p></article>
                </div>

                <div class='ml'>
                <img src="assets/image/GOZ.png"/>
                </div>
            </div>
        </div>





        
    </div>
  


{% endblock %}


